<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="mt-5 text-center text-primary-emphasis">Listado de Tratamientos <i class="bi bi-person-hearts"></i></h1>

      <div class="container">
        <div class="row">
          @for (treatment of treatments; track treatment.id) {
          <div class="col-md-6">
            <div class="card mb-3 bg-success-subtle text-primary-emphasis">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/assets/img/uñas.png" class="card-img" alt="Placeholder">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{treatment.title}}</h5>
                      <p class="card-text">{{treatment.descriptionShort}}</p>
                      <p class="card-text"><small class="text-primary-emphasis">{{treatment.price}}€</small></p>
                      <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/treatments', treatment.id, 'detail']">Descripción</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/treatments', treatment.id, 'update']">Editar</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/booking', treatment.id, 'create']">Reservar</button>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        }
        </div>
      </div>

      <button class="btn btn-outline-info"
      routerLink="/treatments/create">Crear Tratamiento</button>
