<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary" style="height: auto;">
  <div class="container-fluid">
      <a class="navbar-brand fw-bold" routerLink="/">
        <img style="max-width:100px;" src="/assets/img_home/logo_bastbeauty.png" alt="logo">
        BASTBEAUTY
      </a>
   
    <button class="navbar-toggler custom-toggler" type="button" aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto fs-5">

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-start">
          <a class="nav-link" tabindex="0" ngbDropdownToggle (click)="setActive('tratamientos')"
            [class.active]="activeLink === 'tratamientos'"> Tratamientos </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem routerLink="/treatments" (click)="$event.preventDefault()">Listado</a>
            @if(isAdmin) {
              <a ngbDropdownItem routerLink="/treatments/create" (click)="$event.preventDefault()">Crear tratamiento</a>
            }
          </div>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-start">
					<a class="nav-link" tabindex="0" ngbDropdownToggle (click)="setActive('categorías')"
            [class.active]="activeLink === 'categorías'"> Categorías </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/categories" (click)="$event.preventDefault()">Listado</a>
						@if(isAdmin) {
              <a ngbDropdownItem routerLink="/categories/create" (click)="$event.preventDefault()">Crear categoría</a>
            }
            
					</div>
				</li>


        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-start">
					<a class="nav-link" tabindex="0" ngbDropdownToggle (click)="setActive('tratamientos')"
            [class.active]="activeLink === 'tratamientos'"> Centros de belleza </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/companies" (click)="$event.preventDefault()">Listado</a>
						@if(isAdmin) {
              <a ngbDropdownItem routerLink="/companies/create" (click)="$event.preventDefault()">Crear centro</a>
            }
					</div>
				</li>

        @if (isLoggedIn) {
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-start">
            <a class="nav-link" tabindex="0" ngbDropdownToggle (click)="setActive('reservas')"
            [class.active]="activeLink === 'reservas'"> Reservas </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/booking" (click)="$event.preventDefault()">Listado</a>
              @if (isAdmin) {
              <a ngbDropdownItem routerLink="/booking/create" (click)="$event.preventDefault()">Crear reserva</a>
              }
            </div>
          </li>
          }
        

        <!--<li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Reservas </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem routerLink="/booking" (click)="$event.preventDefault()">Listado reservas</a>
            <a ngbDropdownItem routerLink="/booking/create" (click)="$event.preventDefault()">Crear reserva</a>
          </div>
        </li>-->
      </ul>

      <ul class="navbar-nav ms-auto fs-5">
        @if(isAdmin) {
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-start">
            <a class="nav-link" tabindex="0" ngbDropdownToggle (click)="setActive('usuario')"
            [class.active]="activeLink === 'usuario'"> Usuario </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/users" (click)="$event.preventDefault()">Listado</a>
              @if (isAdmin) {
              <a ngbDropdownItem routerLink="/users/:id/create" (click)="$event.preventDefault()">Crear usuario</a>
              }
            </div>
          </li>
        }
        @if(userEmail) {
          <li class="nav-item">
            <button routerLink="/account" class="btn btn_nav2 me-2 mt-1">
              {{userEmail}}
            </button>
          </li>
        }
        @if(isLoggedIn) {
          <li class="nav-item">
            <button type="button" class="btn btn_nav2 me-2 mt-1 mb-1" (click)="logout()">
              Salir
            </button>
          </li>
        } @else {
        <li class="nav-item">
          <button type="button" class="btn btn_nav me-3 mt-1" routerLink="/login">
            Login <i class="bi bi-box-arrow-in-right ms-2"></i>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn_nav me-2 mt-1" routerLink="/register">
            Registro<i class="bi bi-person-plus ms-2"></i>
          </button>
        </li>
        }
      </ul>

    </div>
  </div>
</nav>
