<div class="container mt-5 card mb-3 bg-success-subtle text-primary-emphasis">
    <div class="row">
    <div class="col-4 text-center">

      <div class="px-4 py-5">
        @if (company && company.photoUrl && company.photoUrl.length > 0){
        <img class="img-fluid" [src]="company.photoUrl" alt="Foto company">

        <div>
          <button class="btn btn-danger my-2" (click)="deleteCompany()">
            <i class="bi bi-trash"></i> Borrar
          </button>
        </div>

        }
      </div>

    </div>
    <div class="col-8">

      @if(company){
      <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Número de Centro {{company.id}}</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">


          <div class="col d-flex align-items-start">
            <i class=" bi bi-shop-window me-3 fs-2"></i>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Nombre del centro </h3>
              <p>{{company.name}}</p>
            </div>
          </div>


        </div>
        <div class="col d-flex align-items-start">
          <i class="bi bi-pencil-square me-3 fs-2"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">CIF </h3>
            <p>{{company.cif}}</p>
          </div>
        </div>


        <div class="col d-flex align-items-start">
          <i class= "bi bi-buildings me-3 fs-2"></i>
          <div>
            <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Ciudad</h3>
            <p>{{company.city}}</p>
          </div>

        <div class="col d-flex align-items-start">
            <i class= "bi bi-geo-alt me-3 fs-2"></i>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Dirección</h3>
              <p>{{company.street}}</p>
            </div>

          </div>
        <div class="col d-flex align-items-start">
            <i class= "bi bi-envelope me-3 fs-2"></i>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Código postal</h3>
              <p>{{company.postalCode}}</p>
            </div>
        </div>

        </div>
      </div>


    } @else {
    <p>company no encontrada.</p>
    }
  </div>
</div>

