<div class="d-flex justify-content-center">
  @if (images) {
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Center first slide" class="carousel-image opacity-70 rounded" />
      </div>
      <div class="carousel-caption">
        <h3>Nail & Hair Haven</h3>
        <p>Belleza Integral en un Solo Lugar</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Center second slide" class="carousel-image opacity-70 rounded" />
      </div>
      <div class="carousel-caption">
        <h3>Pure Beauty Oasis</h3>
        <p>Donde la Belleza y la Relajación se Encuentran</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Center third slide" class="carousel-image opacity-70 rounded" />
      </div>
      <div class="carousel-caption">
        <h3>Elegance & Nails Studio </h3>
        <p> Cuida tu Belleza de la Cabeza a los Pies</p>
      </div>
    </ng-template>
  </ngb-carousel>
  }

  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Marketing messaging and featurettes
  ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <div class="text-center">
        <img src="/assets/img_home/Tratamientos2.png" class="d-block w-100" alt="Slide 3">
        <h2 class="fw-bold ">Tratamientos</h2>
        <p>Renueva tu look con nuestros cortes y tratamientos exclusivos.</p>
        <p><a class="btn mi-boton-rc" href="#">Ver detalles »</a></p>
      </div>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <div class="text-center">
        <img src="/assets/img_home/Centros2.png" class="d-block w-100" alt="Slide 3">
        <h2 class="fw-bold">Centros</h2>
        <p>Experiencia única de belleza y bienestar bajo un mismo techo.</p>
        <p><a class="btn mi-boton-rc" href="#">Ver detalles »</a></p>
      </div>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <div class="text-center">
        <img src="/assets/img_home/Categorias2.png" class="d-block w-100" alt="Slide 3">
        <h2 class="fw-bold">Categorías</h2>
        <p>Explora cortes, uñas y más en nuestra amplia gama de servicios</p>
        <p><a class="btn mi-boton-rc" href="#">Ver detalles »</a></p>
      </div>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Tratamiento Corporal <span class="text-body-secondary">Renovación
          Total.</span></h2>
      <p class="lead">Sumérgete en un oasis de relajación y bienestar con nuestro tratamiento corporal diseñado
        para rejuvenecer tu piel y revitalizar tu cuerpo.</p>
    </div>
    <div class="col-md-5">
      <img src="/assets/img_home/tratamiento.jpg" class="d-block w-100 rounded" alt="Slide 3">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Corte de Cabello <span class="text-body-secondary">Renovación
        Total.</span></h2>
      <p class="lead">Confía en nuestros expertos estilistas para crear un
        corte de cabello a la última moda que realce tu belleza natural y refleje tu personalidad.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/assets/img_home/barberia.jpg" class="d-block w-100 rounded" alt="Slide 3">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Manicura <span class="text-body-secondary">Renovación
        Total.</span></h2>
      <p class="lead">Deleita tus sentidos con un pintado de uñas moderno y elegante, donde podrás elegir
        entre una amplia gama de colores y diseños para expresar tu estilo único.</p>
    </div>
    <div class="col-md-5">
      <img src="/assets/img_home/manicura.jpg" class="d-block w-100 rounded" alt="Slide 3">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->