.carousel-image {
    width: 1000px;
    /* Ancho fijo de la imagen */
    height: 500px;
    /* Altura fija de la imagen */
    object-fit: cover;
    /* Asegura que la imagen cubra el espacio sin deformarse */
}
.mi-boton-rc {
    background-color:#CCA831;
    color: black;
}
.featurette-divider {
   color: #CCA831; 
}