<main>
  @if (images) {
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="height: 80vh; display: flex; align-items: center; justify-content: center;">
          <img [src]="images[0]" alt="img_company_pelu 3" class="carousel-image">
        </div>
        <div class="carousel-caption">
          <h3>Nail & Hair Haven</h3>
          <p>Belleza Integral en un Solo Lugar</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="height: 80vh; display: flex; align-items: center; justify-content: center;">
          <img [src]="images[1]" alt="img_company_pelu 3" class="carousel-image">
        </div>
        <div class="carousel-caption">
          <h3 class="text_carousel">Pure Beauty Oasis</h3>
          <p class="text_carousel">Donde la Belleza y la Relajación se Encuentran</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper" style="height: 80vh; display: flex; align-items: center; justify-content: center;">
          <img [src]="images[2]" alt="img_company_pelu 3" class="carousel-image">
        </div>
        <div class="carousel-caption">
          <h3>Elegance & Nails Studio </h3>
          <p> Cuida tu Belleza de la Cabeza a los Pies</p>
        </div>
      </ng-template>
    </ngb-carousel>
    }
  
  
  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  
  <div class="container marketing">
  
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
          <img src="/assets/img_home/Tratamientos2.png" class="d-block w-100" alt="Slide 3">
          <h2>Tratamientos</h2>
          <p>Renueva tu look con nuestros cortes y tratamientos exclusivos.</p>
          <p><a class="btn btn_home" routerLink="/treatments">A UN SOLO CLICK »</a></p>
      </div><!-- /.col-lg-4 -->
  
      <div class="col-lg-4">
          <img src="/assets/img_home/Centros2.png" class="d-block w-100" alt="Slide 3">
          <h2>Centros</h2>
          <p>Experiencia única de belleza y bienestar con profesionales.</p>
          <p><a class="btn btn_home" routerLink="/companies">A UN SOLO CLICK »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
          <img src="/assets/img_home/Categorias2.png" class="d-block w-100" alt="Slide 3">
          <h2>Categorías</h2>
          <p>Explora cortes, uñas y más en nuestra amplia gama de servicios</p>
          <p><a class="btn btn_home" routerLink="/categories">A UN SOLO CLICK »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  
  
    <!-- START THE FEATURETTES -->
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 fw-medium">Tratamiento Corporal - <span class="text-body-secondary">Renovación
            Total.</span></h2>
        <p class="lead">Sumérgete en un oasis de relajación y bienestar con nuestro tratamiento corporal diseñado
          para rejuvenecer tu piel y revitalizar tu cuerpo.</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/img_home/tratamiento.jpg" class="d-block w-100 rounded" alt="Slide 3">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1 fw-medium">Corte de Cabello - <span class="text-body-secondary">Renovación
          Total.</span></h2>
        <p class="lead">Confía en nuestros expertos estilistas para crear un
          corte de cabello a la última moda que realce tu belleza natural y refleje tu personalidad.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="/assets/img_home/barberia.jpg" class="d-block w-100 rounded" alt="Slide 3">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1 fw-medium">Manicura - <span class="text-body-secondary">Renovación
          Total.</span></h2>
        <p class="lead">Deleita tus sentidos con un pintado de uñas moderno y elegante, donde podrás elegir
          entre una amplia gama de colores y diseños para expresar tu estilo único.</p>
      </div>
      <div class="col-md-5">
        <img src="/assets/img_home/manicura.jpg" class="d-block w-100 rounded" alt="Slide 3">
      </div>
    </div>
  
    <hr class="featurette-divider">
  
    <!-- /END THE FEATURETTES -->
  
  </div><!-- /.container -->
</main>
