<div class="container">
  <div class="row">
    <div class="col-lg-7">
      @if(isUpdate){
        <h1 class="mt-4 mb-4 text-center text-primary-emphasis">Actualizar o editar reserva</h1>
      } @else {
        <h1 class="mt-4 mb-4 text-center text-primary-emphasis">Crear reserva</h1>
      }
     
      <form class="mt.5" [formGroup]="bookingForm" (ngSubmit)="save()">
        <input type="hidden" formControlName="id">

        <div class="input-group mb-3">
          <input
          class="form-control"
          id="startDate"
          placeholder="yyyy-mm-dd"
          formControlName="startDate"
          ngbDatepicker
          #d="ngbDatepicker">
          <button class="btn btn-outline-secundary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select"
          id="company"
          formControlName="company"
          [compareWith]="compareObjects"
          style="min-height: 10px;">
          <option selected>Selecciona un centro de belleza</option>
          @for(company of companies; track company.id) {
            <option [ngValue]="company">{{company.name}}</option>
          }
        </select>
        <label for="company">Centro de belleza</label>
        </div>
        <div class="form-floating mb-3">
          <select class="form-select"
          id="treatment"
          formControlName="treatment"
          [compareWith]="compareObjects"

          style="min-height: 100px;">
          <option selected>Selecciona un tratamiento</option>
          @for(treatment of treatments; track treatment.id) {
            <option [ngValue]="treatment">{{treatment.title}}</option>
          }
        </select>
        <label for="treatment">Tratamiento</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" min="0" step="0.1"
          class="form-control" id="price"
          formControlName="price" placeholder="">
          <label for="price">Precio (€)</label>
        </div>
        <div class="form-floating mb-3">
          <input type="number" min="0" step="0.1"
          class="form-control" id="discount"
          formControlName="discount" placeholder="">
          <label for="discount">Descuento (€)</label>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-success" type="submit">Enviar</button>
          <button class="btn btn-danger mb-4" type="button" [routerLink]="['/booking']">Cancelar</button>
        </div>
      </form>
    </div>
    <div class="col-md-5 col-lg-5 order-md-last">
      <h2 class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <span class="text-primary-emphasis">Tu reserva</span>
        <span class="badge bg-primary rounded-pill">{{booking?.treatment?.title}}</span>
      </h2>
      <ul class="list-group mb-3">
        @if (treatments) {
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">Centro de belleza "{{booking?.company?.name}}"</h6>
              <small class="text-body-secondary">{{booking?.treatment?.price}}€</small>
          </div>
        </li>
      }
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary" nulleable="true">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">{{booking?.discount}}€</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (€)</span>
          <strong>{{booking?.treatment?.price}}€</strong>
        </li>
      </ul>
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Codigo promocional">
          <button type="submit" class="btn btn-secondary">Ingresa tu codigo</button>
        </div>
      </form>
    </div>
  </div>
</div>
