<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h1 class="mb-5 mt-1">Categorías de tratamientos</h1>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 g-3">

      @for (category of categories; track category.id) {
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="card shadow-sm">
              <div class="text-center">


                <a [routerLink]="['/categories', category.id, 'detail']">
                  @if(category.photoUrl){
                    <img class="bd-placeholder-img card-img-top" width="100%" height="300" [src] ="'http://localhost:3000/uploads/' + category.photoUrl" >
                  <!-- } @else {
                    <img class="bd-placeholder-img card-img-top" src="/assets/img_category/tratamiento.png"> -->
                  }
                </a>


                <!-- <img class="bd-placeholder-img card-img-top" width="100%" height="350"
              src="/assets/img/uñas.png" > -->
              </div>

              <div class="card-body p-4">
                <p class="card-text">{{category.name}}</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-category2" [routerLink]="['/categories', category.id, 'detail']">Ver</button>

                  </div>

                  <small class="text-body-secondary">{{category.minAge}}</small>
                </div>
              </div>
            </div>
          </div>
      }
      <button class="btn btn-category"
      routerLink="/categories/create">Crear Categoria</button>
    </div>
  </div>



</div>
