<div class="container">
  <div class="row">
    <div class="col-lg-7">
      @if(isUpdate){
        <h1 class="mt-4 mb-4 text-center text-emphasis">Actualizar o editar reserva</h1>
      } @else {
        <h1 class="mt-4 mb-4 text-center text-emphasis">Crear reserva</h1>
      }
      @if(showConfirmMessage) {
        <ngb-alert type="warning" [dismissible]="false" class="mt-5" style="min-height:200px">
          Has completado exitosamente tu reserva de <strong>{{booking?.treatment?.title}}</strong>.
          <br>
          Para el dia <strong>{{booking?.startDate}}</strong>.
          <br>
          En el centro de belleza <strong>{{booking?.company?.name}}</strong>.
          <br>
          Por un valor de <strong>{{booking?.treatment?.price}}€</strong>.
          <br>
          Para cualquier duda contacte con soporte en <strong>soporte&commat;bastbeauty.com</strong>.
        </ngb-alert>
        <button class="w-100 btn btn-outline-info btn-lg" routerLink="/treatments">Volver a tratamientos</button>
      } @else {
        <form class="mt.5" [formGroup]="bookingForm" (ngSubmit)="save()">
          <input type="hidden" formControlName="id">
          <!--
          <div class="input-group mb-3">
            <input
            class="form-control"
            id="startDate"
            placeholder="yyyy-mm-dd"
            formControlName="startDate"
            ngbDatepicker
            #d="ngbDatepicker">
            <button class="btn btn-outline-secundary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div> -->
          <div class="form-floating mb-3">
            <input type="datetime-local" class="form-control border-warning border-1 shadow"
            id="endDate" formControlName="endDate"
            placeholder="yyyy-mm-dd">
            <label for="endDate">Escoge la fecha</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select border-warning border-1 shadow"
            id="company"
            formControlName="company"
            [compareWith]="compareObjects"
            style="min-height: 10px;">
            <option selected>Selecciona un centro de belleza</option>
            @for(company of companies; track company.id) {
              <option [ngValue]="company">{{company.name}}</option>
            }
          </select>
          <label for="company">Centro de belleza</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select border-warning border-1 shadow"
            id="treatment"
            formControlName="treatment"
            [compareWith]="compareObjects"

            style="min-height: 100px;">
            <option selected>Selecciona un tratamiento</option>
            @for(treatment of treatments; track treatment.id) {
              <option [ngValue]="treatment">{{treatment.title}}</option>
            }
          </select>
          <label for="treatment">Tratamiento</label>
          </div>
          @for(treatment of treatments; track treatment.id) {

          }
          <!--<div class="form-floating mb-3">
            <input type="number" min="0" step="0.1"
            class="form-control border-warning border-1 shadow"
            id="price"
            formControlName="price" placeholder="">
            <label for="price">Precio (€)</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" min="0" step="0.1"
            class="form-control border-warning border-1 shadow" id="discount"
            formControlName="discount" placeholder="">
            <label for="discount">Descuento (€)</label>
          </div>-->
          <div class="d-grid gap-2">
            <button class="btn-outline-info" type="submit">Enviar</button>
            <button class="btn-outline-info mb-4" type="button" [routerLink]="['/booking']">Cancelar</button>
          </div>
        </form>
      }
    </div>
    <div class="col-md-5 col-lg-5 order-md-last">
      <h2 class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <span class="text-emphasis">Tu reserva</span>
        <span class="badge  rounded-pill">{{booking?.treatment?.title}}</span>
      </h2>
      <ul class="list-group mb-3">
        @if (treatments) {
        <li class="list-group-item d-flex justify-content-between lh-sm border-warning border-1 shadow">
          <div>
            <h6 class="my-0">Centro de belleza "{{booking?.company?.name}}"</h6>
              <small class="text-body-secondary">{{booking?.treatment?.price}}€</small>
          </div>
        </li>
      }
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary border-warning border-1 shadow" nulleable="true">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">{{booking?.discount}}€</span>
        </li>
        <li class="list-group-item d-flex justify-content-between border-warning border-1 shadow">
          <span>Total (€)</span>
          <strong>{{booking?.treatment?.price}}€</strong>
        </li>
      </ul>
      <form class="card p-2 border-warning border-1 shadow">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Codigo promocional">
          <button type="submit" class="btn btn-warning">Ingresa tu codigo</button>
        </div>
      </form>
    </div>
  </div>
</div>
