<div class="container mt-5 text-center">
  <h1 class="mt-5 text-center text-primary-emphasis">Descripción del tratamiento<i class="bi bi-card-checklist"></i></h1>
  <div class="row">
    <div class="col text-center" style="margin: 5px">

      @if (treatment) {

      <div class="card mb-3 bg-success-subtle text-primary-emphasis">
        <div class="card-body card mb-3 bg-success-subtle text-primary-emphasis">
          <div class="container mt-5">
            <div class="row">
              <div class="col-4 text-center col-md-4 col-sm-12 text-center">
                @if (treatment.image) {
                <ngb-carousel>
                  @for (image of treatment.image; track image){
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                      <img [src]="image" alt="Random first slide" />
                    </div>
                    <div class="carousel-caption">
                      <h3>First slide label</h3>
                      <p>
                        Nulla vitae elit libero, a pharetra augue mollis
                        interdum.
                      </p>
                    </div>
                  </ng-template>
                  }
                </ngb-carousel>
                }
                <button type="button" class="btn btn-outline-info" style="margin: 10px;" [routerLink]="['/booking', treatment.id, 'create']">Reservar</button>
              </div>
              <div class="col-8">
                @if(treatment){
                <div class="container px-4 py-5" id="icon-grid">
                  <h2 class="pb-2 border-bottom">{{ treatment.title }}</h2>
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
                    <div class="col d-flex align-items-start">
                      <i
                        class="bi bi-clipboard-check-fill text-info flex-shrink-0 me-3 fs-2"
                      ></i>
                      <div>
                        <h3 class="fw-bold mb-0 fs-4 text-primary-emphasis">
                          Descripción
                        </h3>
                        <p>{{ treatment.descriptionLong }}</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <i
                        class="bi bi-clipboard2-heart-fill text-info flex-shrink-0 me-3 fs-2"
                      ></i>
                      <div>
                        <h3 class="fw-bold mb-0 fs-4 text-primary-emphasis">
                          Cuidados posteriores
                        </h3>
                        <p>{{ treatment.afterCare }}</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <i
                        class="bi bi-hourglass-split text-info flex-shrink-0 me-3 fs-2"
                      ></i>
                      <div>
                        <h3 class="fw-bold mb-0 fs-4 text-primary-emphasis">
                          Duración
                        </h3>
                        <p>{{ treatment.durationInMin }} minutos</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <i
                        class="bi bi-currency-euro text-info flex-shrink-0 me-3 fs-2"
                      ></i>
                      <div>
                        <h3 class="fw-bold mb-0 fs-4 text-primary-emphasis">
                          Precio
                        </h3>
                        <p>{{ treatment.price }}€</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <i
                        class="bi bi-building-fill-exclamation text-info flex-shrink-0 me-3 fs-2"
                      ></i>
                      <div>
                        <h3 class="fw-bold mb-0 fs-4 text-primary-emphasis">
                          Centro de belleza
                        </h3>
                        <p>{{ treatment.company.name }}</p>
                      </div>
                    </div>
                    <div class="col d-flex align-items-start">
                      <i
                        class="bi bi-tag-fill text-info flex-shrink-0 me-3 fs-2"
                      ></i>
                      <div>
                        <h3 class="fw-bold mb-0 fs-4 text-primary-emphasis">
                          Categorias
                        </h3>
                        @for (category of treatment.categories; track category.id) {
                          <p>{{ category.name }}</p>
                        }

                      </div>
                    </div>
                  </div>
                </div>
                } @else {
                <p>Tratamiento no encontrado.</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5">Comentarios y valoraciones</h2>
      <div>
        <ul class="list-unstyled">
          @for (comment of comments; track comment.id) {
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                <img class="bd-placeholder-img" src="https://placehold.co/100">
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    <ngb-rating [(rate)]="comment.rating" [readonly]="true" [max]="5">
                      <ng-template let-fill="fill" let-index="index">
                        <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-3" style="color:#ffb900;"></i>
                      </ng-template>
                    </ngb-rating>
                    {{comment.rating| date:'dd/MM/yyyy'}}
                  </h6>
                  <small class="text-body-secondary">{{comment.rating}}</small>
                </div>
              </a>
            </li>
          }
        </ul>
      </div>
      <div class="col-6">
        <h2 class="mt-5">Añade un comentario</h2>
        <form [formGroup]="commentsForm" (ngSubmit)="save()">

          <div class="mb-3">
            <ngb-rating  formControlName="rating" [max]="5">
              <ng-template let-fill="fill" let-index="index">
                <i class="bi-star{{ fill === 100 ? '-fill' : '' }} fs-3" style="color:#780a99;"></i>
              </ng-template>
            </ngb-rating>
          </div>

          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here"
            id="opinion" formControlName="opinion" style="min-height:150px;"></textarea>
            <label for="opinion">Comentario de texto</label>
          </div>

          <button class="w-100 btn btn-success btn-lg" type="submit">Añadir comentario</button>
        </form>
      </div>
    </div>
  </div>
</div>
