<div class="container px-4 py-5" id="custom-cards">
  <h2 class="text-center">Lista de Empresas <i class=" bi bi-shop-window me-3 fs-2"></i>

  </h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

    @for (company of companies; track company.id) {
    <div class="col">
      <!--<div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          [style.background-image]="'url(http://localhost:3000/uploads/' + user.photoUrl + ')'"> -->
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
        [ngStyle]="{'background-image': company.photoUrl ? 'url(http://localhost:3000/uploads/' + company.photoUrl + ')' : 'url(/assets/img_home/logo_bastbeauty.png)'}">

        <div class="d-flex flex-column h-100 p-5 pb-3 text_company2_list">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{company.name}}</h3>
          <ul class="d-flex list-unstyled mt-auto">

            <div _ngcontent-shq-c54="" class="exam-card-item_bg" style="background-color: rgb(241, 224, 90);">


            </div>
            <li class="me-auto">
              <button class="btn btn_company2 btn-sm fs-6 me-2" [routerLink]="['/users', company.id, 'detail']">
                Ver
              </button>

              <button class="btn btn_company2 btn-sm fs-6" [routerLink]="['/users', company.id, 'update']">
                Editar
              </button>

            </li>
            <li class="d-flex align-items-center me-3">
              <small>{{company.postalCode}}</small>
            </li>
            <li class="d-flex align-items-center">
              <small>{{company.city}}</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
    }


  </div>
</div>
