<div class="container">
  <div class="row">
    <div class="col-12">

      <h1 class="mt-5">Listado de establecimientos <i class="bi bi-shop"></i></h1>


      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Código postal</th>
            <th scope="col">Valoración</th>
            <th scope="col"></th>
            <th class="text-center" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for(company of companies; track company.id) {
          <tr>
            <td class="text-center">{{company.id}}</td>
            <td>{{company.name}}</td>
            <td>{{company.street}}</td>
            <td class="text-center">{{company.city}}</td>
            <td class="text-center">{{company.postalCode}}</td>
            <td class="text-center">{{company.values}}</td>

            <!-- Asociación Many To One -->
            <td>
              @for (treatment of company.treatments; track treatment.id) {
                {{treatment.title}}
              }


            </td>

            <td>
              <button class="btn btn_company me-2" [routerLink]="['/companies', company.id, 'detail']">
                <i class="bi bi-eye"></i>
                Ver detalle
              </button>
              <button class="btn btn_company me-2" [routerLink]="['/companies', company.id, 'update']">
                <i class="bi bi-pencil"></i>
                Editar
              </button>


            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

