
<div class="container">
  <div class="row">
    <div class="col">

      <!-- Mostrar "creación" o "actualización" si ya existe el producto -->

      @if(isUpdate){
        <h1 class="mt-5">Actualizar/Editar o Crear Centro</h1>
      } @else {
        <h1 class="mt-5">Crear nuevo Centro</h1>
      }

      <form class="mt-5" [formGroup]="companyForm" (ngSubmit)="save()">

        <!-- Campo oculto id -->
        <input type="hidden" formControlName="id">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="title" formControlName="title"
          placeholder="">
          <label for="title">id</label>
        </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="title" formControlName="title"
            placeholder="">
            <label for="title">name</label>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="title" formControlName="title"
              placeholder="">
              <label for="title">cif</label>
            </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" formControlName="title"
                placeholder="">
                <label for="title">street</label>
              </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="title" formControlName="title"
                  placeholder="">
                  <label for="title">city</label>
                </div>

                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" formControlName="title"
                    placeholder="">
                    <label for="title">postalCode</label>
                  </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="title" formControlName="title"
                      placeholder="">
                      <label for="title">treatment</label>
                    </div>

                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" formControlName="title"
                        placeholder="">
                        <label for="title">active</label>
                      </div>

                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" id="title" formControlName="title"
                          placeholder="">
                          <label for="title">photo</label>
                        </div>

        <div class="d-grid gap-2">
          <button class="btn btn-success" type="submit">Enviar</button>
          <button class="btn btn-danger" type="button">Cancelar</button>
        </div>

      </form>

    </div>
  </div>
</div>
