<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <h1 class="mb-5 mt-1">CATEGORIAS</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

      @for (category of categories; track category.id) {
          <div class="col-6">
            <div class="card shadow-sm">
              <div class="text-center">
                <img class="bd-placeholder-img card-img-top" width="100%" height="350"
              src="/assets/img/uñas.png">
              </div>

              <div class="card-body">
                <p class="card-text">{{category.name}}</p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/categories', category.id, 'detail']">Ver</button>

                  </div>

                  <small class="text-body-secondary">{{category.minAge}}</small>
                </div>
              </div>
            </div>
          </div>
      }
      <button class="btn btn-outline-info"
      routerLink="/categories/create">Crear Tratamiento</button>
    </div>
  </div>
</div>
