.mi-boton-rc {
    background-color: rgb(140, 0, 255); /* Color de fondo violeta */
    color: #ffffff; /* Color del texto blanco */
    /* Otros estilos según sea necesario */
}
.bg-custom {
    background-color:#FDD0B8; 
}
