.mi-boton-rc {
    background-color: #CCA831; 
    color: black;
}
.container-fluid {
  background-color: black;
}
.navbar {
  background-color: black;
  padding: 0px;
}
.nav-link {
  color: #CCA831;
}

