<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-fluid bg-custom">

    <a class="navbar-brand" routerLink="/">
      <img style="max-width:40px;" src="/assets/img/silueta_pelo.png" alt="logo">
      SIEMPRE BELLA
    </a>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav me-auto fs-5">

        <li class="nav-item">
          <a class="nav-link active" routerLink="/"> Inicio </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/treatments']"> Tratamientos </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/categories']"> Categorías</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/companies']"> Centros </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/booking']"> Reservas </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Usuarios </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
						<a ngbDropdownItem [routerLink]="['/users']" (click)="$event.preventDefault()">Lista de usuarios</a>
						<a ngbDropdownItem [routerLink]="['/users/:id/create']" (click)="$event.preventDefault()">Crear Usuario</a>
					</div>
				</li>
        <li class="nav-item">
          <button type="button" class="btn mi-boton-rc me-3 mb-2" routerLink="/login">Login</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn mi-boton-rc me-2 mb-2" routerLink="/register">Registro</button>
        </li>
      </ul>

    </div>
  </div>
</nav>
