<nav class="navbar navbar-expand-md navbar-light bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/">
      <img style="max-width:80px;" src="/assets/img/logo_bastbeauty.png" alt="logo">
      BASTBEAUTY
    </a>

    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Tratamientos </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem routerLink="/treatments" (click)="$event.preventDefault()">Listado</a>
            <!--@if(isAdmin) {
              <a ngbDropdownItem routerLink="/treatments/create" (click)="$event.preventDefault()">Crear tratamiento</a>
            } cuando ya este configurado el usuario-->
            <a ngbDropdownItem routerLink="/treatments/create" (click)="$event.preventDefault()">Crear tratamiento</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Categorías </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/categories" (click)="$event.preventDefault()">Listado</a>
						<!--@if(isAdmin) {
              <a ngbDropdownItem routerLink="/categories/create" (click)="$event.preventDefault()">Crear categoría</a>
            }-->
            <a ngbDropdownItem routerLink="/categories/create" (click)="$event.preventDefault()">Crear categoría</a>
					</div>
				</li>


        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Centros de belleza </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
						<a ngbDropdownItem routerLink="/companies" (click)="$event.preventDefault()">Listado</a>
						<!--@if(isAdmin) {
              <a ngbDropdownItem routerLink="/editorials/create" (click)="$event.preventDefault()">Crear editorial</a>
            }-->
            <a ngbDropdownItem routerLink="/companies/create" (click)="$event.preventDefault()">Crear centro de belleza</a>
					</div>
				</li>

        <!--@if (isLoggedIn) {
          <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
            <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Reservas </a>
            <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
              <a ngbDropdownItem routerLink="/reservations" (click)="$event.preventDefault()">Listado reservas</a>
              @if (isAdmin) {
              <a ngbDropdownItem routerLink="/reservations/create" (click)="$event.preventDefault()">Crear reserva</a>
              }
            </div>
          </li>
          }-->
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Reservas </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem routerLink="/booking" (click)="$event.preventDefault()">Listado reservas</a>
            <a ngbDropdownItem routerLink="/booking/create" (click)="$event.preventDefault()">Crear reserva</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto fs-5">
        <li class="nav-item" ngbDropdown>
					<a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Usuarios </a>
					<div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
						<a ngbDropdownItem routerLink="/users" (click)="$event.preventDefault()">Lista de usuarios</a>
						<a ngbDropdownItem routerLink="/users/create" (click)="$event.preventDefault()">Crear Usuario</a>
					</div>
				</li>
        <li class="nav-item">
          <button type="button" class="btn mi-boton-rc me-3 mb-2" routerLink="/login">
            Login <i class="bi bi-box-arrow-right ms-2"></i>
          </button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn mi-boton-rc me-2 mb-2" routerLink="/register">
            Registro <i class="bi bi-person-plus ms-2"></i>
          </button>
        </li>
      </ul>

    </div>
  </div>
</nav>
