<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h1 class="my-5 text-center">Mi perfil</h1>

      <form [formGroup]="userForm" (ngSubmit)="save()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="fullName" formControlName="fullName"
          placeholder="Nombre completo">
          <label for="fullName">Nombre</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="phone" formControlName="phone"
          placeholder="654321478">
          <label for="phone">Teléfono</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="birthDate" formControlName="birthDate"
          placeholder="dd-MM-yy">
          <label for="birthDate">Fecha de cumpleaños</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="nif" formControlName="nif"
          placeholder="123456">
          <label for="nif">NIF</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="addressStreet" formControlName="addressStreet"
          placeholder="Calle Falsa 2, 6D">
          <label for="addressStreet">Dirección (calle, portal, piso, puerta)</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="city" formControlName="city"
          placeholder="Madrid">
          <label for="city">Ciudad</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="postalCode" formControlName="postalCode"
          placeholder="28017">
          <label for="postalCode">Fecha de cumpleaños</label>
        </div>

        <button class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>

      </form>

    </div>
    <div class="col-lg-4">
      <button class="w-100 btn btn-success btn-lg mt-5" type="button"
      routerLink="/account/avatar">
        <i class="bi bi-card-image me-2 fs-3"></i>
        Cambiar avatar
      </button>

    </div>
  </div>
</div>
