<div class="container">
  <div class="row">
    <div class="col-lg-8">

      <h1 class="my-5 text-center">Mi perfil</h1>

      <form [formGroup]="userForm" (ngSubmit)="save()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control border-warning border-1 shadow" id="fullName" formControlName="fullName"
          placeholder="Nombre completo">
          <label for="fullName">Nombre de usuario</label>
        </div>

        <div class="form-floating mb-3">
          <input type="date" class="form-control border-warning border-1 shadow"
          id="birthDate" formControlName="birthDate"
          placeholder="dd-MM-yy">
          <label for="birthDate">Fecha de cumpleaños</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control border-warning border-1 shadow" id="phone" formControlName="phone"
          placeholder="654321478">
          <label for="phone">Teléfono</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control border-warning border-1 shadow" id="nif" formControlName="nif"
          placeholder="123456">
          <label for="nif">NIF</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control border-warning border-1 shadow" id="addressStreet" formControlName="addressStreet"
          placeholder="Calle Falsa 2, 6D">
          <label for="addressStreet">Dirección (calle, portal, piso, puerta)</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control border-warning border-1 shadow" id="city" formControlName="city"
          placeholder="Madrid">
          <label for="city">Ciudad</label>
        </div>

        <button class="w-100 btn btn-outline-info btn-lg mb-4" type="submit">Guardar cambios</button>

      </form>

    </div>
    <div class="col-lg-4">
      @if(photoPreview) {
        <h3 class="my-5">Previsualización de foto</h3>
        <img class="rounded mx-auto d-block" [src]="photoPreview"
        style="max-width: 500px;">
      }
      @if(!photoPreview && user?.photoUrl) {
        <h3 class="my-5">Previsualización de foto</h3>
        <img class="rounded mx-auto d-block" [src]="photoPreview"
        style="max-width: 500px;">
      }
      <button class="w-100 btn btn-outline-info btn-lg mt-5" type="button"
      routerLink="/account/avatar">
        <i class="bi bi-card-image me-2 fs-3"></i>
        Cambiar foto de perfil
      </button>

    </div>
  </div>
</div>
