

@if(category){
<div class="container mt-5 ">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <div class=" text-center">
        <img class="d-block mx-auto mb-4 rounded-2"
        [src]="'http://localhost:3000/uploads/' + category.photoUrl" alt="category"
        style="max-width:350px">
      </div>

    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <div class=" text-center">
        <!--recomendables imagenes cuadradas-->



        <h1 class="display-5 fw-bold text-body-emphasis">{{category.name}}</h1>
        <div class="col-lg-6 mx-auto">

           <p class="lead mb-4">{{category.name}} tenemos los mejores especialistas </p>
           <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-category btn-lg px-4 gap-3" [routerLink]="updateUrl"> Modificar </button>
<!--               <button type="button" class="btn btn-category btn-lg px-4"(click)="delete(category)" > Borrar Categoría </button>
 -->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  }

  <div class="container">
    <div class="row">
      <div class="col-12">

        <h2 class="mt-5">Categorías de tratamientos</h2>

        <table class="table table-striped mt-5">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Tratamientos</th>
              <th scope="col">Precio</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cuidados posteriores</th>
              <th scope="col">Duración</th>
              <th scope="col">Acciones</th>

            </tr>
          </thead>

          <tbody>
            @for(treatment of treatments; track treatment.id) {
            <tr>
              <td>{{treatment.id}}</td>
              <td>{{treatment.title}}</td>
              <td>{{treatment.price}}</td>
              <td>{{treatment.descriptionShort}}</td>
              <td>{{treatment.afterCare}}</td>
              <td>{{treatment.durationInMin}}</td>

              <td>
                <button class="btn btn-category3 me-2" [routerLink]="['/treatments', treatment.id, 'detail']">
                  Ver
                </button>
              </td>
            </tr>
            }

          </tbody>
        </table>
      </div>
    </div>
  </div>

