<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 class="mt-5" style="color: rgb(140, 0, 255);">Usuarios registrados <i class="bi bi-people-fill"></i>
            </h1>
            <table class="table table-striped mt-3">

                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Correo electrónico</th>
                        <th scope="col">Fecha de Inscripción</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Código postal</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @for(user of users; track user) {
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.registerDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.street}}</td>
                        <td>{{user.postalCode}}</td>
                        <td>

                            <button class="btn mi-boton-personalizado m-2" [routerLink]="['/users', user.id]">
                                <i class="bi bi-eye"></i>
                                Ver detalle
                            </button>
                            <button type="button" class="btn mi-boton-personalizado m-2"
                                [routerLink]="['/users', user.id, 'update']">
                                <i class="bi bi-pencil"></i>
                                Editar
                            </button>

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>