@if(category){
<div class="px-4 py-5 my-5 text-center">
  <!--recomendables imagenes cuadradas-->

  <img class="d-block mx-auto mb-4 rounded-circle"
  [src]="category.photoUrl" alt="category"
  style="max-width:150px">

  <h1 class="display-5 fw-bold text-body-emphasis">{{category.name}}</h1>
  <div class="col-lg-6 mx-auto">

     <p class="lead mb-4">{{category.name}} tenemos grandes ofertas para tener tus uñas perfecta </p>
     <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Editar</button>
    </div>
  </div>
</div>
}


