
<div class="container">
  <div class="row">
    <div class="col-lg-8">


      @if(isUpdate) {
        <h1 class="mt-5 text-center">Actualizar categoría
            <i class="bi bi-person-fill"></i>
        </h1>
    } @else {

      <h1 class="my-5"> Crear Categoria</h1>
    }

      <form [formGroup]="categoryForm" (ngSubmit)="save()">

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="id" formControlName="id" readonly>
          <label for="id">Id</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="name" formControlName="name"
          placeholder="">
          <label for="name">Nombre</label>
        </div>



        <input type="hidden" formControlName="photoUrl">

        <div class="input-group mb-3">
          <label class="input-group-text" for="photoUrl">Subir foto</label>
          <input type="file" class="form-control" id="photoUrl" (change)="onFileChange($event)">
        </div>

        <div class="form-floating mb-3">
          <textarea type="text" class="form-control" id="description" formControlName="description"
          placeholder="Texto largo" rows="4" cols="50">
        </textarea>
          <label for="bio">Descripcion</label>
        </div>

<!--
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="treatment" formControlName="treatment"
          placeholder="">
          <label for="treatment">Tratamiento</label>
        </div>
-->

        <div class="form-floating mb-3">
          <input type="number" min="0" step="0"
          class="form-control" id="minAge" formControlName="minAge"
          placeholder="">
          <label for="minAge">Edad minima </label>
        </div>


        <button class="w-100 btn btn-category2 " type="submit" routerLink="/categories"> Guardar </button>

      </form>

    </div>
    <div class="col-lg-4">

      @if(photoPreview) {
        <h3 class="my-5">Previsualización de foto</h3>
        <img class="img-fluid" [src]="photoPreview">
      }
      @if (!photoPreview && category?.photoUrl) {
        <h3 class="my-5">Previsualización de foto</h3>
        <img class="img-fluid" [src]="'http://localhost:3000/uploads/' + category?.photoUrl">
      }
    </div>
  </div>
</div>
